<template>
  <div>
    <heading class="mb-6"> </heading>




    <div class="" v-if="firstDayOfTheWeek">
      <a class="changeWeekBtn" href="javascript:" @click="subtractWeek"><</a>
      <select class="form-control scheduleSelect" @change="printWeek" v-model="selectedSchedule">
        <option :value="schedule.id" v-for="schedule in schedules">
          {{schedule.schedule_name}}
        </option>
      </select>
      <span class="monthName">{{monthsString}}</span>

      <a style="float:right" class="changeWeekBtn" href="javascript:" @click="addWeek">></a>
      <div style="clear:both"></div>
      <div class="flex">
        <div v-for="day in daysToPrint" class="calendarDayHeading w-1/6">
          {{day.format('ddd DD')}}
        </div>
      </div>

      <div class="flex">
        <div v-for="day in daysToPrint" class="calendarDayBody w-1/6">
          <div  v-if="selectedScheduleTime['day_'+getWeekDayNumber(day)].status==1" class="calendarDayBodyContent">
            <div v-for="slot in daySlots['day_'+getWeekDayNumber(day)]" class="daySlot"  :reservation_begin="day.format('YYYY-MM-DD')+' '+slot">

              <a href="javascript:" @click="setReservation({'day':day.format('YYYY-MM-DD'),'slot':slot})" class="slotTime">
                {{slot}}
              </a>


                <div
                  v-if="reservation.begin_slot == slot"
                  class="dayReservation"
                  v-for="reservation in dayReservations['day_'+day.format('YYYYMMDD')]"
                  @click="editReservation(reservation.reservation.id)"
                  v-bind:style="{height:reservation.slot_height+'px'}"
                  :reservation_row_id="reservation.reservation.id"
                  >
                  <span v-if="reservation.reservation.custom_appointment==0">
                      {{reservation.reservation.client.full_name}} {{reservation.service.service_name}}
                  </span>
                  <span v-else>
                    {{reservation.reservation.reservation_notes}}
                  </span>
                  <a href="javascript:" @click="deleteReservation(reservation.id)"> <i class="fas fa-trash-alt"></i> </a>
                </div>


            </div>
          </div>
      <div v-else class="daySlot">
        non lavora
      </div>
    </div>
  </div>
</div>

<div id="reservationModal" class="modal" :class="{active:showModal}">
  <div class="modalContent">
    <div class="modalHeader">
      <h1>Appuntamento con {{selectedScheduleName}}, {{formatDayForModalTitle(currentReservation.reservation_day)}} alle {{currentReservation.reservation_time}}</h1>
    </div>
    <div class="modalBody">
      <div class="card overflow-hidden">
        <form @submit.prevent="processForm">
          <div>
            <div class="flex border-b border-40">
              <div class="w-2/6 py-6 px-8">
                <label><input type="checkbox" v-model="customAppointment" value="1"> Si tratta di un appuntamento "custom"?</label>
              </div>
            </div>
          </div>
          <div class="flex border-b border-40" v-if="customAppointment">
            <div class="w-2/6 py-6 px-8">
              <label class="inline-block text-80 pt-2 leading-tight">
                Fine appuntamento
              </label>
            </div>
            <div class="w-4/6 py-6 px-8 ">
              <select v-model="currentReservation.reservation_end.hh" class="form-control form-input form-input-bordered">
                <option :value="addZ(i-1)" v-for="i in 24">{{addZ((i-1))}}</option>
              </select>
              :
              <select v-model="currentReservation.reservation_end.mm" class="form-control form-input form-input-bordered">
                <option :value="addZ((i-1)*5)" v-for="i in 12">{{addZ((i-1)*5)}}</option>
              </select>
            </div>
          </div>
          <div v-if="!customAppointment">
            <div>
              <div class="flex">
                <div class="w-1/6 py-6 px-8">
                  <label class="inline-block text-80 pt-2 leading-tight">
                    Cliente
                  </label>
                </div>
                <div class="w-1/3 py-6 px-8 ">
                  <select style="min-width:320px;" @change="setClientStatus" class="w-full form-control form-input form-input-bordered" v-model="currentReservation.client.id">
                    <option value="0">Nuovo cliente...</option>
                    <option :value="client.id" v-for="client in allClients" >{{client.full_name}}</option>
                  </select>

                  <div class="help-text help-text mt-2">
                  </div>
                </div>
              </div>
            </div>
            <div v-if="!isNewClient">
              <div>
                <div class="flex">
                  <div class="w-1/6 py-6 px-8">
                    <label class="inline-block text-80 pt-2 leading-tight" >
                      Nome
                    </label>
                  </div>
                  <div class="w-1/3 py-6 px-8 ">
                    <input  type="text" placeholder="Nome" class="w-full form-control form-input form-input-bordered" v-model="currentReservation.client.client_name" >
                  </div>
                  <div class="w-1/6 py-6 px-8">
                    <label class="inline-block text-80 pt-2 leading-tight">
                      Cognome
                    </label>
                  </div>
                  <div class="w-1/3 py-6 px-8 ">
                    <input  type="text" placeholder="Cognome" class="w-full form-control form-input form-input-bordered" v-model="currentReservation.client.client_surname">
                  </div>
                </div>
              </div>
              <div>
                <div class="flex border-b border-40">
                  <div class="w-1/6 py-6 px-8">
                    <label class="inline-block text-80 pt-2 leading-tight">
                      Telefono
                    </label>
                  </div>
                  <div class="w-1/3 py-6 px-8 ">
                    <input  type="text" placeholder="Telefono" class="w-full form-control form-input form-input-bordered" v-model="currentReservation.client.client_telephone" >
                  </div>
                  <div class="w-1/6 py-6 px-8">
                    <label class="inline-block text-80 pt-2 leading-tight">
                      Email
                    </label>
                  </div>
                  <div class="w-1/3 py-6 px-8 ">
                    <input  type="email" placeholder="Email" class="w-full form-control form-input form-input-bordered" v-model="currentReservation.client.client_email">
                  </div>
                </div>
              </div>
            </div>

            <div class="border-b border-40" >
              <div v-for="i in countServices">
                <div class="flex">
                  <div class="w-1/6 py-6 px-8">
                    <label class="inline-block text-80 pt-2 leading-tight">
                      Servizio
                    </label>
                  </div>
                  <div class="w-5/6 py-6 px-8 ">
                    <select v-model="currentReservation.services" @change="calcTotal" class="form-control form-input form-input-bordered multipleSelect" multiple name="">
                      <option :value="service.id" v-for="service in scheduleServices">
                        {{service.service_name}} (EUR {{service.service_price.toFixed(2)}})
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="flex border-b border-40">
                <div class="w-1/6 py-6 px-8">
                  <label class="inline-block text-80 pt-2 leading-tight">
                    Totale
                  </label>
                </div>
                <div class="w-1/3 py-6 px-8 ">
                  <input v-model="currentReservation.reservation_total"  type="text" placeholder="Totale" class="w-full form-control form-input form-input-bordered" required>
                </div>
              </div>
            </div>
          </div>


          <div>
            <div class="flex border-b border-40">
              <div class="w-1/6 py-6 px-8">
                <label class="inline-block text-80 pt-2 leading-tight">
                  Note
                </label>
              </div>
              <div class="w-5/6 py-6 px-8 ">
                <textarea style="height:125px;" rows="4"  v-model="currentReservation.reservation_notes" class="w-full form-control form-input form-input-bordered" placeholder="Hai delle note per la prenotazione?"></textarea>
              </div>
            </div>
          </div>
          <div class="bg-30 flex px-8 py-4">
            <button @click="showModal = false" type="button" class="btn btn-default btn-primary inline-flex items-center relative ml-auto mr-3" dusk="create-and-add-another-button">
              <span class="">
                Chiudi
              </span>
            </button>
            <button type="submit" class="btn btn-default btn-primary inline-flex items-center relative mr-3" dusk="create-and-add-another-button">
              <span class="">
                Salva
              </span>
            </button>
            <button :class="{hide:isNewReservation}" type="submit" class="btn btn-default btn-danger inline-flex items-center relative" dusk="create-button">
              <span class="">
                Cancella
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="modalFooter">
      {{currentReservation}}
    </div>
  </div>
</div>
</div>

</template>

<script>
import 'moment/locale/it';

var schedulerEndPoint = '/nova-vendor/scheduler/';
var moment = require('moment');
import Timeselector from 'vue-timeselector';


moment.locale('it');

var currentReservationDefault = {
  customAppointment:0,
  reservation_end:{hh:'00',mm:'00'},
  reservation_day:'',
  reservation_time:'',
  id:0,
  client:{
    id:0,
    client_name:'',
    client_surname:'',
    client_email:'',
    client_telephone:'',
  },
  schedule_id:0,
  services:[],
  reservation_notes:'',
  reservation_total:0
};

export default {
  components: {
    Timeselector
  },
  mounted() {

    axios
    .get(schedulerEndPoint+'first-call',{})
    .then(response => {
      this.allClients = response.data.clients;
      this.business = response.data.business
      this.business.week_schedule = JSON.parse(this.business.week_schedule);
      this.schedules = response.data.schedules;
      this.selectedSchedule = response.data.schedules[0].id;
      this.selectedScheduleTime = JSON.parse(response.data.schedules[0].week_schedule);
      this.setFirstDayOfTheWeek('2020-04-21');
    });

  },
  data(){
    return {
      daysLoaded:0,
      allClients:[],
      scheduleServices:[],
      showModal:false,
      firstDayOfTheWeek:false,
      monthsString:'',
      schedules:[],
      selectedSchedule:'',
      selectedScheduleName:'',
      selectedScheduleTime:[],
      printWeekDays:[],
      daysToPrint:[],
      business:{},
      countServices:1,
      isNewClient:0,
      isNewReservation:1,
      daySlots:{
        day_1:['...','...'],
        day_2:['...','...'],
        day_3:['...','...'],
        day_4:['...','...'],
        day_5:['...','...'],
        day_6:['...','...'],
        day_7:['...','...'],
      },
      dayReservations:{},
      dayReservationsTemp:{},
      customAppointment:0,
      currentReservation:currentReservationDefault
    }
  },
  watch:{
    daysLoaded:function(newValue,oldValue){
      console.log(newValue);
      if(newValue>7){
        this.dayReservations = this.dayReservationsTemp;
        setTimeout(function(){

          $('.daySlot').sortable({
            connectWith: ".daySlot",
            grid: [ 30, 30 ],
            opacity: 0.8,
            tolerance:'intersect',
            scroll: true,
            revert: 200,
            refreshPositions :true,

            receive: function( event, ui ) {
              var reservationRowId = ui.item[0].attributes[0].nodeValue;
              var reservationBegin = event.target.attributes[0].nodeValue;
              axios
              .post(schedulerEndPoint+'move-reservation/',
                {
                  id:reservationRowId,
                  reservation_begin:reservationBegin
                })
              .then(response => {
                console.log(response.data);
              })

            }
          }).disableSelection();


        },500)

      }
    },
    customAppointment:function(newValue,oldValue){
      if(newValue){
        this.currentReservation.services = [];
        this.currentReservation.reservation_total = 0;
        this.currentReservation.customAppointment = (newValue) ? 1 : 0;
      }
    },
    selectedSchedule:function(){
      for(var i in this.schedules){
        if(this.schedules[i].id == this.selectedSchedule){
          this.selectedScheduleName = this.schedules[i].schedule_name
        }
      }
    },
    firstDayOfTheWeek:function(){
      this.printWeek();
    }
  },
  methods:{
    deleteReservation(id){
      if(confirm('Vuoi davvero cancellare la prenotazione?')){
        axios
        .post(schedulerEndPoint+'delete-reservation/?id='+id)
        .then(response => {
          console.log(response.data);
          this.printWeek();
        })
      }

    },
    editReservation(id){
      axios
      .get(schedulerEndPoint+'reservation-details/?id='+id)
      .then(response => {
        console.log(response.data);
        this.currentReservation = response.data;
        this.customAppointment = this.currentReservation.customAppointment;
        this.setClientStatus();
        this.showModal = true;
      })
    },
    formatDayForModalTitle(day){
      return moment(day).format('ddd DD');
    },
    addZ(str){
      if(parseInt(str)<10){
        return '0'+str;
      }
      return str;
    },
    processForm(){
      axios
      .post(schedulerEndPoint+'set-reservation/',this.currentReservation)
      .then(response => {
        console.log(response.data)
        switch(this.currentReservation.customAppointment){
          case 1:
          this.showModal = 0;
          this.printWeek();
          break;

          case 0:
          this.showModal = 0;
          this.printWeek();
          break;
        }
      })
    },
    calcTotal(){
      this.currentReservation.reservation_total = 0;
      for(var i in this.currentReservation.services){
        for(var j in this.scheduleServices){
          if(this.scheduleServices[j].id == this.currentReservation.services[i]){
            this.currentReservation.reservation_total+=this.scheduleServices[j].service_price;
          }
        }
      }
    },
    setClientStatus(){
      if(this.currentReservation.client.id > 0){
        this.isNewClient = 1;
      }else{
        this.isNewClient = 0;
      }
    },
    removeService(){
      if(this.countServices > 1){
        this.countServices--;
      }
    },
    setReservation(cfg){

      this.currentReservation = currentReservationDefault;
      this.setClientStatus();
      this.currentReservation.reservation_day = cfg.day;
      this.currentReservation.reservation_time = cfg.slot;
      this.currentReservation.schedule_id = this.selectedSchedule;
      this.customAppointment = 0;
      this.showModal = true;
      axios
      .get(schedulerEndPoint+'schedule-services/?schedule_id='+this.selectedSchedule)
      .then(response => {
        this.scheduleServices = response.data;
      })

    },
    getWeekDayNumber:function(date){
      return moment(date).isoWeekday();
    },
    loadScheduleDayReservations(schedule_id,day){
      axios
      .get(schedulerEndPoint+'reservations/?schedule_id='+schedule_id+'&day='+day)
      .then(response => {
        this.dayReservationsPrint(moment(day).format('YYYYMMDD'),response.data);
        this.daysLoaded++;
      })
    },
    dayReservationsPrint:function(day_id,data){

      this.dayReservationsTemp['day_'+day_id] = data;
    },
    setFirstDayOfTheWeek(day){
      this.firstDayOfTheWeek = moment(day).isoWeekday(0);
    },
    printWeek: function () {
      this.daysLoaded = 0;
      this.dayReservationsTemp = {};
      var slotStep = this.business.slot_step;
      var opensAtOffset = 0;
      for(var i in this.schedules){
        if(this.selectedSchedule == this.schedules[i].id){
          this.selectedScheduleTime = JSON.parse(this.schedules[i].week_schedule);
        }
      }
      for(var i in this.selectedScheduleTime){
        this.daySlots[i] = [];
        opensAtOffset = 0;
        while(moment(this.selectedScheduleTime[i].opens_at,'kk:mm').add(opensAtOffset,'m').isSameOrBefore(moment(this.selectedScheduleTime[i].closes_at,'kk:mm'))){
          this.daySlots[i].push(moment(this.selectedScheduleTime[i].opens_at,'kk:mm').add(opensAtOffset,'m').format('kk:mm'));
          opensAtOffset+=slotStep;
        }
      }
      var returnDays = [];
      for (var i = 0; i <= 7; i++) {
        returnDays.push(moment(this.firstDayOfTheWeek).add('days', i))
      }
      var monthBegin = moment(returnDays[0]).format('MMMM');
      var monthEnd = moment(returnDays[6]).format('MMMM');
      if (monthBegin != monthEnd) {
        this.monthsString = monthBegin + ' / ' + monthEnd;
      } else {
        this.monthsString = monthBegin;
      }

      for(var i in returnDays){
        this.loadScheduleDayReservations(this.selectedSchedule,returnDays[i].format('YYYY-MM-DD'))
      }
      this.daysToPrint = returnDays;
    },
    addWeek: function () {
      this.firstDayOfTheWeek = moment(this.firstDayOfTheWeek).add('days', 7);

    },
    subtractWeek: function () {

      this.firstDayOfTheWeek = moment(this.firstDayOfTheWeek).subtract('days', 7);
    },
  }
}
</script>

<style>

.multipleSelect{
  padding:0px;
  height:120px;
}

.multipleSelect option{
  padding:5px 10px;
}

.hide{
  display:none
}

.modal{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.35);
  z-index:999;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  display:none;
}
.modal.active{
  display:flex;
}
.modalContent{
  min-height:40px;
  background-color:#fff;
  min-width:40px;
  border-radius:4px;
  box-shadow:0px 0px 12px rgba(0,0,0,0.2);
  width: auto;
}

.modalContent .modalHeader{
  padding:20px 30px;
  border-bottom: 1px solid #ececec;
}

/* Scoped Styles */
.calendarDayHeading{
  height:50px;
  color:#fff;
  background-color:#333;
  padding:10px;
  line-height:34px;
  text-transform: uppercase;
  font-weight:bold;
  font-size:24px;
}

.calendarDayBody{

}

.calendarDayBody .daySlot{
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  height:30px;
  padding:10px;
  position:relative;
}
.calendarDayBody .daySlot .slotTime{
  color:#333;
  font-size:10px;
  text-decoration:none;

}

.calendarDayBody .daySlot .dayReservation{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  background-color:#D60C52;
  color:#fff;
  font-size:10px;
  padding:4px;
  z-index:999;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.calendarDayBody .daySlot .dayReservation a{
  color:#fff;
  display:none
}

.calendarDayBody .daySlot .dayReservation:hover a{
  display:inline;
}

.changeWeekBtn{
  height: 50px;
  display: inline-block;
  width: 50px;
  margin: 0px;
  background: #D60C52;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border-radius: 50%;
  font-size: 36px;
  margin: 0px 10px;
}

.monthName{
  font-size: 36px;
  text-transform: uppercase;
  margin-right: 10px;
}
.scheduleSelect{
  margin-bottom: 10px;
  font-size: 36px;
  height: 50px;
}

</style>
