:root{
  --primary:rgb();
  --primary-dark:rgb();
  --primary-70:rgb();
  --primary-50:rgb();
  --primary-30:rgb();
  --primary-10:rgb();
  --logo-:rgb();
  --sidbar-icon:rgb();
}

.bg-grad-siderbar{
  background:#c3c3c3;
}
