.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.flex.items-center.relative.shadow.h-header.bg-white.z-20.px-6,
.relative.z-50.w-full.max-w-xs{
	z-index: auto!important;
}

.sidebar-label{
  color:black!important;
}
