
html,body{
  color:#282828;
  /*font-family: 'maison_neuebook';*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'proxima-nova', sans-serif;
}

.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(5px) grayscale(90%);
}

.btn-facebook{
  color:white;
  background: #3b5998;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  text-align: center;
  border-radius: 30px!important;
  display: inline-block;
  padding:0px 20px;
  margin-bottom: 15px;
  transition: 0.3s all;
}

.btn-facebook:hover{
  text-decoration: none;
  color:#fff;
   box-shadow: 0px 0px 7px rgba(0,0,0,0.7);
}

p.side-lines{
  margin-top: 20px;
height: 15px;
margin-bottom: 25px;
border-bottom: 1px solid grey;
}

p.side-lines span{
  display: inline-block;
    background: white;
    padding: 5px 10px;
}

.bg-light{
  background-color: #f7f7f7;
}

.h1-soft{
  font-size: 2rem;
}
.result-item{
  cursor: pointer;
}

h1.huge{
  font-size: 42px;
}

.result-item a{
  color:#333;
}
.result-item a:hover{
  text-decoration: none;
}

.result-item .result-item-header{
  width: 100%;
  height: 195px;
  background-size:     cover;                      /* <------ */
 background-repeat:   no-repeat;
 background-position: center center;
 position: relative;
}

.result-item .result-item-body{
  padding:15px;
  border-left:1px solid #dcdedd;
  border-right:1px solid #dcdedd;
  border-bottom:2px solid #c42d54;
}
.result-item .result-item-footer{

}

.item-address{
  font-size: 0.8rem;
}

.item-cost-level{
  font-size: 0.8rem;
}

.item-cost-level-disabled{
  color:#d9d9d9;
  font-size: 0.8rem;
}

.item-separator{
font-size: 0.8rem;
color:#d9d9d9;
}

.item-first-available-date{
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 5px;
}

.item-first-available-date span{
  font-weight: bold;
}

.item-distance{
    font-size: 0.8rem;
}

.item-starting-price{
  background-color: #fff;
  border: 1px solid #d9d9d9;
  position: absolute;
  left:15px;
  bottom: -13px;
  height: 30px;
  line-height: 18px;
  padding: 6px 10px;
  display: block;
  font-size: 0.8rem;

}

.btn-fissalo-primary{
  border-color:#c42d54;
  color:#c42d54;
  background:transparent;
}



.btn-fissalo-super-primary:hover{
  border-color:#c42d54;
  color:#c42d54!important;
  background:transparent;
}


.footer hr{
  border-top: 1px solid #333;
}

.footer{
  background: #000;
  padding:100px 0px;
}

.footer li {
  color:#c3c3c3;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.footer .text-small{
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.footer .help-block{


  color:#c3c3c3
}

.footer h6, .footer a{
  color:#fff;

}

.footer h6{
  font-size: 0.7rem;
}

.footerHero{
  height: 320px;
  background-image:url('/img/footerHeroBackgroundImg.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(images/bg.jpg) no-repeat center center fixed;
}

.footerHero h5, .footerHero h6{
  color:#fff;
}

.tag{
  background:rgb(248, 249, 250);
  font-weight: bold;
  font-size: 16px;
  color:#333;
  padding:5px 10px;
  margin:10px 10px 0px 0px;
  border-radius: 6px;
}

.featureColumn{
  text-align: center;
}
.featureColumn p{

}
.featureColumn span{

}
.featureColumn img{
  width: 100%;
}

.categoryBlock{
  border-radius: 6px;
  background-color:#fff;
  padding:20px 10px;
  border:2px solid #eee;
}


input {
  outline:none;
}
.addressSelection{
  position: fixed;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
  background-color: white;
}
#placeAutocomplete{
  font-size: 36px;
  border:none;
  border-bottom:1px solid fuxia;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ececec;
}
.mainCitiesList{
  font-size: 36px;
}
#closeAddressSelectionBtn{
  font-size: 32px;
  color: #757575;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  position: fixed;
  top:10px;
  right: 10px;

}
#closeAddressSelectionBtn:hover{
  text-decoration: none;
}



.autocompleteItem{
  font-size:0.9rem;
  color:#000;
}

.h1, h1 {
  font-size: 1.5em;
  font-weight: 600;
}
.h5, h5 {
  font-size: 0.6em;
  color: #c62a52;
  text-transform: uppercase;
}

input,button,a{
  border-radius: 0px!important;
}

.btn-sm{
  font-size: 12px;
  padding: 8px 12px;
}

.form-control-sm{
  font-size: 12px;
  padding: 8px 12px;
}
.btn-fissalo-primary{
  border-color:#c42d54;
  color:#c42d54;
  background:transparent;
}

.btn-fissalo-super-primary{
  border-color:#c42d54;
  color:#fff!important;
  background:#c42d54;
}

.btn-fissalo-secondary{
  border-color:rgb(38,38,38);
  color:#c42d54!important;
  background:transparent;
}

.btn-fissalo-default{
  border-color:rgb(38,38,38);
  color:#000;
  background:transparent;
}


@media (min-width: 768px) {
  .container {
    max-width: 1360px!important;
  }
}


.navbar-brand img{
  height: 40px;

}

.color-fuxia{
  color:#c42d54;
}

h2.underlined{
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}

.pointer{
  cursor: pointer;
}



.calendarDays{
  display: inline-block;
  width: 100%;
}


.selected-service{
  font-size: 13px;
  padding: 10px 15px;
  border-bottom: 1px solid #ececec;

  margin: 0px 0px 10px 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.02)
}




.calendarDays .calendarDay{
  float:left;
  text-align: center;
  width: 12.5%;
}

.calendarDays.calendarDaysBottom .calendarDay .availabilityIndicator{
  margin-top:-5px
}

.calendarDays.calendarDaysBottom .calendarDay .availabilityIndicator span{
  background-color:#55d488;
  display: inline-block;
  width: 7px;
  border-radius: 50%;
  height: 7px;
}

.calendarDays.calendarDaysBottom .calendarDay.notAvailableDay .availabilityIndicator span{
    background-color:#d27a77;
}


.reservation-box{

}

.sticky-top {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
  top: 0;
  z-index: 1020;
}

.carousel{
  position: relative;
}
.carousel h1, .carousel h2{
  /*color:#fff*/
}
.carousel h2{
  font-size: 12px;
  font-weight: normal;
}
.header-info{

  width: 100%!important;
  position: absolute!important;
  bottom:50px!important;
  left:0px!important;
  z-index: 999!important;


}

.header-info-content{
  background-color: rgba(255,255,255,0.9);
  padding:30px;
}

.owl-carousel{
  position: relative;
  margin-bottom: 20px;
}


.tag{
  background:rgb(248, 249, 250);
  font-weight: bold;
  font-size: 16px;
  color:#333;
  padding:5px 10px;
  margin:10px 10px 0px 0px;
  border-radius: 6px;
}

.featureColumn{
  text-align: center;
}
.featureColumn p{

}
.featureColumn span{

}
.featureColumn img{
  width: 100%;
}

.categoryBlock{
  border-radius: 6px;
  background-color:#fff;
  padding:20px 10px;
  border:2px solid #eee;
}
.categoryBlock img{
  width: 48px;
}
.categoryBlock span{
  font-size: 12px;
  font-weight: 500;
}

input {
  outline:none;
}
.addressSelection{
  position: fixed;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 999999;
}

.owl-carousel img{
  filter: brightness(70%);
}


.service-category-title{

  font-size: 0.7em;
    text-transform: uppercase;
    color: #afafaf;
    letter-spacing: 5px;
}

.service-title{
      font-size: 1.1em;
}

.service-description{
  color: #939999;
line-height: 1.2rem;
font-size: 0.8rem;
}



.pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after {
  background-color:yellow!important;
}




.calendarDaysRow{

}

.calendarDaysRow a{
  color:black;
}

.calendarDaysRow hr{
  margin:0px;
}

.calendarDaysTop{
  font-size: 0.7rem;
}

.calendarDaysTop a.active{
    border-bottom:2px solid #c42d54;
}

.calendarDaysBottom a:hover{
  text-decoration: none;
}

.calendarDaysBottom a{
  margin-top:5px;
  display: inline-block;
  line-height: 35px;
  width: 40px;
  height: 40px;
  padding: 3px;
  text-align: center;
  font-size: 1.4rem;
}

.calendarDaysBottom a.active{
  border: 1px solid #c42d54;
  border-radius: 50% !important;
  color:#c42d54;
}

.pac-container.pac-logo.hdpi{
  z-index: 99999!important;
}

.tab-content{
  padding: 20px 0px;
}
