<template>
  <card class="flex flex-col justify-center">
    <div class="px-3 py-3">
      <h1 class="text-3xl text-80 font-light">Wizard di attivazione</h1>
      <div v-if="data.status">
        Il tuo account è attivo e puoi iniziare a ricevere prenotazioni!
      </div>
      <div v-else>
      <p class="wizard-intro">Ciao {{data.user.name}}, completa i seguenti step per attivare il tuo account:</p>
      <div class="wizard-steps-list">
        <div v-for="step in data.steps" class="step" :class="{'active':step.status}">
          <a :href="step.url" >
            {{step.text}}
          </a>
        </div>
      </div>
      </div>
    </div>
  </card>
</template>

<style media="screen">
.wizard-intro{
  margin:20px 0px;
}
.wizard-steps-list{
  padding:0px;

}
.step{

  margin-bottom:10px;

}
.step.active{
  color:green;
}

.step a{
  text-decoration:none;
  font-size:24px;
  color:#333;
}

.step.active a{
  color:green;
}

</style>

<script>
var wizardEndPoint = '/nova-vendor/firstCard/';
export default {
  data(){
    return{
      data:{
        user:{name:''},
        steps:[]
      },
    }
  },
  props: [
    'card',

    // The following props are only available on resource detail cards...
    // 'resource',
    // 'resourceId',
    // 'resourceName',
  ],

  mounted() {
    axios
    .get(wizardEndPoint+'user', {})
    .then(response => {
      this.data = response.data;
      console.log(this.data);
    })
  },
}
</script>
