<template >
    <default-field :field="field" :errors="errors" :full-width-content="true">
        <template slot="field">
            <table class="table">

                <thead>
                    <tr>
                        <th>Giorno</th>
                        <th>Aperto</th>
                        <th>Continuato</th>
                        <th>Orario apertura</th>
                        <th>Orario pausa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="day in days">
                        <td>
                            {{day.label}}
                        </td>
                        <td>
                            <select class="form-control form-input form-input-bordered" v-model="value[day.index].status">
                                <option value="1">Sì</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                        <td>
                            <select v-bind:disabled="value[day.index].status==0" class="form-control form-input form-input-bordered" v-model="value[day.index].ongoing">
                                <option value="1">Sì</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                        <td>
                                <select v-bind:disabled="value[day.index].status==0" class="form-control form-input form-input-bordered" v-model="value[day.index].opens_at">
                                    <option v-for="hour in hours">{{hour}}</option>
                                </select>
                            
                                <select v-bind:disabled="value[day.index].status==0" class="form-control form-input form-input-bordered" v-model="value[day.index].closes_at">
                                    <option v-for="hour in hours">{{hour}}</option>
                                </select>
                        </td>
                        <td>
                                <select v-bind:disabled="value[day.index].ongoing==1 || value[day.index].status==0" class="form-control form-input form-input-bordered" v-model="value[day.index].pause_starts_at">
                                    <option v-for="hour in hours">{{hour}}</option>
                                </select>
                            
                                <select v-bind:disabled="value[day.index].ongoing==1 || value[day.index].status==0" class="form-control form-input form-input-bordered" v-model="value[day.index].pause_ends_at">
                                    <option v-for="hour in hours">{{hour}}</option>
                                </select>
                        </td>

                    </tr>
                </tbody>

            </table>
            <!-- <input :id="field.name" type="text"
                        class="w-full form-control form-input form-input-bordered"
                        :class="errorClasses"
                        :placeholder="field.name"
                        v-model="value.content"
                    /> -->
        </template>
    </default-field>
</template>

<script>
import { FormField, HandlesValidationErrors } from 'laravel-nova'

export default {
    mixins: [FormField, HandlesValidationErrors],

    props: ['resourceName', 'resourceId', 'field'],

    data(){
        return{
            days:[
                {label:'Lunedì',id:1,index:'day_1'},
                {label:'Martedì',id:2,index:'day_2'},
                {label:'Mercoledi',id:3,index:'day_3'},
                {label:'Giovedi',id:4,index:'day_4'},
                {label:'Venerdì',id:5,index:'day_5'},
                {label:'Sabato',id:6,index:'day_6'},
                {label:'Domenica',id:7,index:'day_7'},
            ],
            hours:[
                '00:00',
                '00:30',
                '1:00',
                '1:30',
                '2:00',
                '2:30',
                '3:00',
                '3:30',
                '4:00',
                '4:30',
                '5:00',
                '5:30',
                '6:00',
                '6:30',
                '7:00',
                '7:30',
                '8:00',
                '8:30',
                '9:00',
                '9:30',
                '10:00',
                '10:30',
                '11:00',
                '11:30',
                '12:00',
                '12:30',
                '13:00',
                '13:30',
                '14:00',
                '14:30',
                '15:00',
                '15:30',
                '16:00',
                '16:30',
                '17:00',
                '17:30',
                '18:00',
                '18:30',
                '19:00',
                '19:30',
                '20:00',
                '20:30',
                '21:00',
                '21:30',
                '22:00',
                '22:30',
                '23:00',
                '23:30',
            ]
        }
    },

    methods: {
        /*
         * Set the initial, internal value for the field.
         */
        setInitialValue() {
            this.value = JSON.parse(this.field.value) || {
                day_1:{status:1,ongoing:0,opens_at:'9:00',closes_at:'18:30',pause_starts_at:'12:30',pause_ends_at:'14:00'},
                day_2:{status:1,ongoing:0,opens_at:'9:00',closes_at:'18:30',pause_starts_at:'12:30',pause_ends_at:'14:00'},
                day_3:{status:1,ongoing:0,opens_at:'9:00',closes_at:'18:30',pause_starts_at:'12:30',pause_ends_at:'14:00'},
                day_4:{status:1,ongoing:0,opens_at:'9:00',closes_at:'18:30',pause_starts_at:'12:30',pause_ends_at:'14:00'},
                day_5:{status:1,ongoing:0,opens_at:'9:00',closes_at:'18:30',pause_starts_at:'12:30',pause_ends_at:'14:00'},
                day_6:{status:0,ongoing:0,opens_at:'00:00',closes_at:'00:00',pause_starts_at:'00:00',pause_ends_at:'00:00'},
                day_7:{status:0,ongoing:0,opens_at:'00:00',closes_at:'00:00',pause_starts_at:'00:00',pause_ends_at:'00:00'},
            }
        },

        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            formData.append(this.field.attribute, JSON.stringify(this.value) || '')
        },

        /**
         * Update the field's internal value.
         */
        handleChange(value) {
            this.value = JSON.stringify(value)
        },
    },
}
</script>
